.container {
  width: 42px;
  height: 24px;
  border: 1.5px solid grey;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 2px;
}

.icon {
  font-size: 12px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: rgb(78, 78, 248);
  border-radius: 50%;
  position: absolute;
}
