.container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-12px);
  }
  to {
    transform: translateY(12px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}

.heading {
  font-size: 50px;
  background: linear-gradient(to bottom, #2b2f64, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: linear-gradient(to bottom, blue 0%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
}

.desc {
  font-size: 20px;
  font-weight: 300px;
}
